//includeConfig 'queue.config'
report.overwrite = true
trace.overwrite = true

params {
	stLFRreseq_mbp = false 	// stLFRreseq v1.4 (built by Junhua Rao)
	stLFR_only = false
	PF_only = false
	frombam = false 	// cwgs from bam file
	fromMergedBam = false
	params.frombam = params.fromMergedBam ? true : false
	se_mode = false
	debug = false
	keepFiles = false
	cut_len = 1680051
	
	//fq
	lariatStLFRBC = true
	lariatSplitFqNum = 50 //split fq for tofake10x and tolariat process; 1: dont split
	MOD = "$baseDir"
	DB = "${MOD}/../database"
	SCRIPT = "${MOD}/../scripts/"
	SCRIPT_HapCUT2 = "/usr/local/app/HapCUT2-1.3.1/HapCUT2-master/utilities/"

	BIN = ""
	BIN_HAPCUT2 = ""
	BIN_fqcheck = ""
	
	//SCRIPT = "$HOME/script"
	//SCRIPT_stat = "${SCRIPT}stat"
	//SCRIPT_picard = "${SCRIPT}picard"
	//SCRIPT_fqcheck = "${SCRIPT}fqcheck"
	//BIN = "${MOD}/../bin/"
	//BIN = "/usr/local/app/CWGS/bin/"
	//BIN_HAPCUT2 = "${BIN}HapCUT2/build/"
	//BIN_fqcheck = "${BIN}fqcheck/"
	
	MEGABOLT_RUNIT = "runit -O15" 
	//MEGABOLT_RUNIT_SEC = 15
	MEGABOLT = "/mnt/ssd/MegaBOLT_scheduler/bin/MegaBOLT_client"
	MEGABOLT_PATH = "/mnt/ssd/MegaBOLT"
	MEGABOLT_EXPORT = """
    export LD_LIBRARY_PATH=${MEGABOLT_PATH}/lib:\$LD_LIBRARY_PATH
    export PATH=${MEGABOLT_PATH}/bin:\$PATH
	export MBP_TASK_WORKSPACE=${launchDir}
	"""

	outdir = "$PWD/output/" //should be absolute path

	//barcode pos info
	//BARCODE_POS = "-I 201 10 1 false -I 217 10 1 false -I 233 10 1 false"
					//PE so pos add 100bp
	
	//reference
	ref = "hg38"	//hs37d5, hg38 or hg19
	ref_len = 	params.ref == "hg38" ? 2934876545 :
				params.ref == "hg19" ? 2897310462 : 2900340137			//note: use params.ref instead of ref lest ref is changed later in the cmd line

	std = "hg002"	//support hg001 and hg002
	
	//sample fastq
	sampleFq = false
	stLFR_fq_cov = 40
	PF_fq_cov = 50

	//use megabolt?
	use_megabolt = false

	//align
	align_tool = params.stLFRreseq_mbp ? "bwa" : "lariat" // bwa lariat_bwa
	pfmapq = 0 // no filter bam
	PF_lt_stLFR_depth = 10	//extract stlfr bam (regions larger than bamcov in stlfr bam and pfbam cov smaller than this)
	run_bqsr = true

	markdup = "biobambam2" //or sambamba (not recommend) or picard or gatk4

	//downsample bam
	sampleBam = true
	stLFR_sampling_cov = 30
	PF_sampling_cov = 40

	just_combine = false
	//call variants //var_tool = gatk dv gatk_dv
	//gatk options
	var_tool = "dv"
	gatk_version = "v4" // or v3
	run_vqsr = true
	split_by_intervals = true //haplotypecaller -L option

	dv_version = params.stLFRreseq_mbp ? "v0.7" : "v1.6" //or v0.7
	dv_machine = "t7" //or g400

	// phasing
	chr = "all"
	/////////////////////queue config
	queue = "mgi.q"
	project = "W21P0024"
	boltq = 'fpga4.q'
	//extraCluOpt = "\n set +o posix"
	extraCluOpt = "-S /bin/bash"

	CPU0 = 1
	CPU1 = 8

	MEM0 = 1
	MEM1 = 4
	MEM2 = 24
	MEM3 = 60

	// for user 
	cpu2 = 24
	cpu3 = 48


// if (params.debug) {
// 		cpu1 = 1
// 		mem1 = 1

// 		cpu2 = 8
// 		mem2 = 8

// 		cpu3 = 8
// 		mem3 = 8
// 	}
}


process {
	executor = 'sge'
	exitReadTimeout = '300 min'
	env.PATH = "$baseDir/../bin:${env.PATH}"
	//errorStrategy = 'terminate'
	errorStrategy = 'retry'
	maxRetries = 1
}
