
params {
	sifs = "$baseDir/sifs"	// dont edit
}

process {
	withName: vep					{ container = "${params.sifs}/vep114.sif"	}
	withName: vep_data				{ container = "${params.sifs}/tools.sif"	}

	withName: gangstr 				{ container = "${params.sifs}/gangstr.sif" 	}
	withName: pangenie 				{ container = "${params.sifs}/pangenie.sif" }
	withName: pangenie_plot 				{ container = "${params.sifs}/tools.sif" }
	
	withName: pangenie_var_plot		{ container = "${params.sifs}/tools.sif"	}
	
	withName: hlala					{ container = "${params.sifs}/hlala.sif" 	}

	withName: 'haplotag|propagateBxHp|makeWindows|denovoBatch|catContigs' {
		container = "${params.sifs}/denovo.sif"
	}

	// withName: ideogram				{ container = "${params.sifs}/tools.sif"	}
	// withName: cumuplot				{ container = "${params.sifs}/tools.sif"	}
	withName: html					{ container = "${params.sifs}/tools.sif"	}

}
