process {
    scratch = '/storeData/cg_teams/cg_research/ycai/completeWGS/results/tests/sge_test/CWGS_run/tmp'
    stageOutMode = 'move'
    container = '/storeData/cg_teams/cg_research/ycai/completeWGS/pipeline/v1.0.6/CWGS.sif'
    
    singularity = '/usr/local/bin/singularity'
    executor = 'local'
    beforeScript = 'echo "===vvv---HOST_INFO---vvv==="; uname -a; lscpu|grep -P "MHz:|Model name:|^CPU.s.:"; uptime; free -h; echo "===^^^---HOST_INFO---^^^==="; export MBP_USAGE_LOGDIR=/storeData/cg_teams/cg_research/ycai/completeWGS/results/tests/sge_test/CWGS_run/usage; export PATH=/storeData/cg_teams/cg_research/ycai/completeWGS/results/tests/sge_test:/storeData/cg_teams/cg_research/ycai/completeWGS/pipeline/v1.0.6:$PATH'
    shell = 'runit -O15 -s -l`echo $(basename $(dirname $PWD))_$(basename $PWD)` /bin/bash -euo pipefail'
}
singularity {
    enabled = false
    runOptions = "--no-home --env HOSTNAME=\$HOSTNAME --env MBP_USAGE_LOGDIR=/storeData/cg_teams/cg_research/ycai/completeWGS/results/tests/sge_test/CWGS_run/usage -B `[ -d /opt/altera ] && echo /opt/altera`,/storeData,/mnt -B /proc:/.__host_proc -c -e --pwd `pwd -P` -B `pwd -P`:/tmp  -B /storeData/cg_teams/cg_research/ycai/completeWGS/pipeline/v1.0.6/CWGS_db:/usr/local/app/CWGS/database  --env 'TMPDIR=/tmp' --env PATH='\$PATH\${MEGABOLT_SCHEDULER_ROOT:+:\$MEGABOLT_SCHEDULER_ROOT/bin}' --env LD_LIBRARY_PATH='\$LD_LIBRARY_PATH\${MEGABOLT_SCHEDULER_ROOT:+:\$MEGABOLT_SCHEDULER_ROOT/lib}'"
    envWhitelist = "MEGABOLTROOT,MEGABOLT_SCHEDULER_ROOT,MEGABOLT_CONFIG,HOSTNAME"
}
params {
    MEGABOLT_RUNIT = "chmod a+rx .; MBP_USAGE_LOGDIR=/storeData/cg_teams/cg_research/ycai/completeWGS/results/tests/sge_test/CWGS_run/usage runit -s -O15 " 
    MOD = "/usr/local/app/CWGS/modules"
    SCRIPT = "/usr/local/app/CWGS/scripts"
    DB = "/storeData/cg_teams/cg_research/ycai/completeWGS/pipeline/v1.0.6/CWGS_db"
    
}

trace {
    enabled = true
    file = 'trace.txt'
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,env,scratch,error_action,workdir'
}
